<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIST - VIMEO VIDEOS SHOWCASE</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon_dark.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../icons/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <% include templates/header %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-push-1">

                <table class="table table-hover">
                    <thead>
                        <% if(properties.roleid === 1) { %>
                            <tr class="bg-success text-center">
                                <td colspan="6"><a href="add">Thêm Video</a></td>
                            </tr>
                        <%}%>
                        <tr class="bg-primary">
                            <th>ID</th>
                            <th>Tiêu Đề</th>
                            <th>Mô Tả</th>
                            <th>Key</th>
                            <th>Image</th>
                            <th>Edit - Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.rows.forEach(function(item){ %>
                            <tr>
                                <td><%= item.ID %></td>
                                <td><%= item.TIEUDE %></td>
                                <td><%= item.MOTA %></td>
                                <td><%= item.KEY %></td>
                                <td><img src="../upload/<%= item.IMAGE %>" alt=""></td>
                                <td><a href="edit/<%= item.ID %>"><span class="<%= properties.icon %>"><%= properties.name %></span></a>
                                <% if(properties.roleid === 1) { %>
                                     - 
                                     <a href="delete/<%= item.ID %>" onclick="confirm('Bạn có chắc muốn xoá không?')"><span class="fa fa-remove">Delete</span></a></td>
                                <% } %>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <% include /templates/footer %>
</body>

</html>